<a href="https://colab.research.google.com/github/ghassen-elkamel/hello-world/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### connecting to kaggle to import the dataset

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
%cd /content/gdrive/MyDrive/AI/

/content/gdrive/MyDrive/AI

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/MyDrive/AI/"

## downloading the dataset

In [ ]:
!kaggle datasets download -d paultimothymooney/recipenlg

recipenlg.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip recipenlg.zip

Archive:  recipenlg.zip
replace RecipeNLG_code/README.md? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

## reading the dataset

In [ ]:
import pandas as pd 
import numpy as np
import re
import nltk
dataset= pd.read_csv('RecipeNLG_dataset.csv',on_bad_lines='skip')

dataset[['title','directions','NER']].head(100)

,title,directions,NER
0,No-Bake Nut Cookies,"[""In a heavy 2-quart saucepan, mix brown sugar...","[""brown sugar"", ""milk"", ""vanilla"", ""nuts"", ""bu..."
1,Jewell Ball'S Chicken,"[""Place chipped beef on bottom of baking dish....","[""beef"", ""chicken breasts"", ""cream of mushroom..."
2,Creamy Corn,"[""In a slow cooker, combine all ingredients. C...","[""frozen corn"", ""cream cheese"", ""butter"", ""gar..."
3,Chicken Funny,"[""Boil and debone chicken."", ""Put bite size pi...","[""chicken"", ""chicken gravy"", ""cream of mushroo..."
4,Reeses Cups(Candy),"[""Combine first four ingredients and press in ...","[""peanut butter"", ""graham cracker crumbs"", ""bu..."
...,...,...,...
95,Baked Beans,"[""Cook onions and bell pepper in oil until oni...","[""pork"", ""bell pepper"", ""onions"", ""catsup"", ""b..."
96,Sweet-N-Sour Chicken,"[""Saute onion in 2 tablespoons shortening."", ""...","[""chicken"", ""shortening"", ""onion"", ""carrot chu..."
97,Ambrosia,"[""Combine all ingredients. Chill overnight."", ...","[""oranges"", ""moist coconut"", ""pecans"", ""cherri..."
98,Crazy Peanut Butter Cookies,"[""Mix together and roll into balls; flatten wi...","[""peanut butter"", ""sugar"", ""egg""]"
99,Brickle Bars,"[""Mix together with a fork:"", ""cake mix, 1 egg...","[""yellow cake mix"", ""eggs"", ""margarine"", ""milk..."

## cleaning the data

In [ ]:
import string
def remove_penctuation(txt):
    txt_nopenct="".join([c for c in txt if c not in string.punctuation])
    return  txt_nopenct

In [ ]:
dataset['NER_clean']=dataset['NER'].apply(lambda x: remove_penctuation(x))

## vectorizing the data

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
dataset_sample=dataset[0:10000]
tfidf=TfidfVectorizer()
x=tfidf.fit_transform(dataset_sample['NER_clean'])
print(x.shape)
print(x)

(10000, 1718)
  (0, 118)	0.40927801411738207
  (0, 1273)	0.2431762664120822
  (0, 1389)	0.33010076280368256
  (0, 1392)	0.4839748709887445
  (0, 121)	0.5084637813761053
  (0, 199)	0.14554898380136183
  (0, 1039)	0.22032833909352575
  (0, 1625)	0.16064290443773188
  (0, 960)	0.14988047129078996
  (0, 1511)	0.10875157579401994
  (0, 184)	0.20444294299152696
  (1, 1428)	0.3278781546915438
  (1, 1427)	0.29962272759342745
  (1, 1000)	0.3710844977005282
  (1, 1045)	0.318010343430141
  (1, 423)	0.4396117050955543
  (1, 174)	0.4250581119534749
  (1, 283)	0.29001699911890444
  (1, 101)	0.3253385071751041
  (2, 1135)	0.29655906992726855
  (2, 1322)	0.20872781072885307
  (2, 1210)	0.3387841688176695
  (2, 661)	0.36370979971851186
  (2, 273)	0.2666122374076328
  (2, 397)	0.4334184897273632
  :	:
  (9997, 1054)	0.15394888913701468
  (9997, 704)	0.20114798896830885
  (9997, 271)	0.23606112703377513
  (9997, 1135)	0.16821255171485044
  (9997, 1322)	0.11839340359802734
  (9997, 273)	0.15122627941793293
  (9997, 1427)	0.20937406381020418
  (9997, 1000)	0.2593110006192745
  (9997, 1045)	0.22222318871616822
  (9997, 423)	0.15359864375723734
  (9997, 283)	0.20266165443217676
  (9998, 1701)	0.7304014652310145
  (9998, 606)	0.5056807723068834
  (9998, 537)	0.2865679538523724
  (9998, 1625)	0.23506557759976685
  (9998, 960)	0.21931712252221686
  (9998, 1511)	0.15913402505004567
  (9999, 110)	0.5865892135000622
  (9999, 1446)	0.42609968355910083
  (9999, 1001)	0.31503805568702337
  (9999, 520)	0.36441869660168685
  (9999, 541)	0.17736444966758452
  (9999, 1577)	0.2745168593463756
  (9999, 1054)	0.17779998037477593
  (9999, 64)	0.3222913343850975

In [ ]:
from ctypes import sizeof
from numpy.ma.core import transpose
df=pd.DataFrame(x.toarray(),columns=tfidf.get_feature_names_out())
d=tfidf.get_feature_names_out()

df.head()
arr=df.to_numpy()

#g=tfidf.get_feature_names_out()[13]
print(arr)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

## testing

In [ ]:
def get_recipes(f,arr):

  c=0
  q=tfidf.get_feature_names_out()
  print (q)
  for i in range(1717):
    if q[i]==f :
     c=i

  t = []
  d={}
  a=0
  for j in range (100):
   v=arr[j][c]
   if v>0.0:
      #print(j)
    t.append (j)
    d[v]=j
    a=a+1
  t.sort(reverse=True)
 # print(d)
  for i in range(a):
    key=t[i]
    print("title:")
    print((dataset_sample['title'][key]))
    print("\n")
    print("gradients:\n")
    print((dataset_sample['NER_clean'][[key]]))
    print("steps:\n")
    print((dataset_sample['directions'][[key]]))

In [ ]:
element=input("give your element please: \n")
get_recipes(element,arr)

## saving the necessairy files to run our model

In [ ]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle
from numpy import asarray
from numpy import savetxt
savetxt('data.csv', arr, delimiter=',')

In [ ]:
import numpy as geek
q=tfidf.get_feature_names_out()


q1=geek.array_str(q)

type(q1)
text_file = open("gradients_data.txt", "w")
 
text_file.write(q1)
 

text_file.close()

In [ ]:
import sys
import numpy
numpy.set_printoptions(threshold=sys.maxsize)
q1=geek.array_str(q)

text_file = open("gradients_data.txt", "w")
q1=remove_penctuation(q1) 
print(q1)

text_file.write(q1)
 
text_file.close()

In [ ]:
xd = pd.DataFrame(dataset_sample, columns= ['title','directions','NER'])
df.to_csv (r'data2.csv', index = False, header=True)